<html>
	<head>
		<title>{{ title }}</title>
         
        <meta charset="utf-8" />
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- 可选的Bootstrap主题文件（一般不用引入） -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> 
	</head>
    
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <form class="navbar-form navbar-left" role="search" method="get" action="/">
                    <div class="form-group">
                        <input name="user_id" type="text" class="form-control" placeholder="输入一个ID">
                    </div>
                    <button type="submit" class="btn btn-success">他关注了谁？</button>
                </form>
                <div class="container">
                    <a class="navbar-btn btn btn-info" href="/sex_distribution">性别分布</a>
                </div>
            </div>

        </nav>
        {% block body%}
        {% end %}
    </body>
</html>